/*стили для RadioButton*/
input[type="radio"] {
    display: none;
}

label {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 140px;
    padding: 4px 11px;

    height: 34px;
    width: 24px;


    font-size: 21px;

    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

label > span {
    margin: 0 50px;
}

input[type="radio"]:checked + label {
    background: #27AE60;
}

input[type="radio"]:checked + label::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 13px;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    background: #fff;
}

@media (max-width: 1260px) {
    label {
        height: 30px;
        width: 20px;

        font-size: 18px;
    }

    input[type="radio"]:checked + label::before {
        top: 11px;

        width: 16px;
        height: 16px;
    }
}

@media (max-width: 920px) {
    label {
        margin-bottom: 20px;
    }
}
