.counter-wrap {
    width: 50%;
    box-sizing: border-box;
    background: #1C1C1E;
    border-radius: 15px;
}

.subtitle {
    padding: 70px 50px 0 50px;
    font-weight: bold;
    font-size: 36px;

    color: #27AE60;
}

.form {
    padding: 0 0 70px 50px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
}

.input {
    margin: 30px 35px 30px 0;
    padding: 10px 0;
    width: 313px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;

    color: #fff;
    font-size: 21px;
    cursor: pointer;
    transition-duration: .2s;
}

.input:hover {
    opacity: .8;
    transition-duration: .2s;
}

.input::-webkit-input-placeholder {
    color: #fff;
}

/*Стили для кнопки*/
.button {
    margin-top: 50px;
    background: #27ae60;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 15px 135px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

    outline: none;
    transition-duration: .2s;
}

.button:hover {
    filter: brightness(1.2);
    transition-duration: .2s;
}


@media (max-width: 1600px) {
    .input {
        width: 270px;
    }
}

@media (max-width: 1420px) {
    .input {
        width: 230px;
    }
}

@media (max-width: 1320px) {
    .inputs {
        justify-content: space-around;;
    }

    .input {
        width: 230px;
    }
}

@media (max-width: 1260px) {
    .input {
        width: 200px;
        font-size: 18px;
    }
}


@media (max-width: 1140px) {
    .subtitle {
        padding-left: 20px;
    }

    .form {
        padding-left: 20px;
    }
}

@media (max-width: 1080px) {
    .form {
        padding-bottom: 25px;
    }

    .subtitle {
        padding-top: 25px;
    }

    .inputs {
        justify-content: flex-start;
    }

    .input {
        margin: 20px 25px 20px 0;
        width: 170px;
    }
}

@media (max-width: 920px) {
    .counter-wrap {
        width: 100%;
    }

    .inputs {
        padding-bottom: 20px;
    }

    .button {
        margin-top: 0;
    }
}

@media (max-width: 510px) {
    .input {
        width: 80%;
    }

    .subtitle {
        font-size: 21px;
    }
}



