.overlay {
    z-index: 10;
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .9;
    filter: blur(3px)
}

.wrap {
    display: none;
}

.component {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;

    width: 400px;
    max-width: 100%;

    height: 200px;
    max-height: 100%;

    padding: 20px;

    background: #1C1C1E;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 11;
    border-radius: 15px;
}

.showModal {
    display: none;
}

.desc {
    color: #27ae60;
    font-weight: bold;
    font-size: 21px;
}

/*Стили для кнопки*/
.button {
    background: #27ae60;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

    outline: none;
    transition-duration: .2s;
}

.button:hover {
    filter: brightness(1.2);
    transition-duration: .2s;
}

@media (max-width: 510px) {
    .component {
        width: 260px;
        height: 160px;
    }

    .desc {
        font-size: 18px;
    }

    .button {
        padding: 3px 10px;
    }
}

