.result-container {
  padding: 100px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.result-category {
  align-items: center;
}
.result-category-title {
  color: #27ae60;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
}
.result h2 {
  font-size: 72px;
  line-height: 88px;
  font-weight: bold;
}
.result p {
  font-size: 36px;
  line-height: 44px;
}

.button {
  margin-top: 50px;
  background: #27ae60;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 15px 50px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  transition-duration: .2s;
}
.button:hover {
  filter: brightness(1.2);
  transition-duration: .2s;
}
.result-cart {
  background-color: #1c1c1e;
  border-radius: 15px;
  max-width: 470px;
}
.result__item {
  margin: 30px;
  flex-direction: column;
  display: flex;
}
.result__item-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #27ae60;
  display: flex;
  flex-direction: column;
}
.result__item-title span {
  margin-top: 25px;
  width: 75px;
  border-bottom: 3px solid #27ae60;
}


@media (max-width: 1440px) {
  .result-category-title, .result h2 {
    font-size: 65px;
  }
}

@media (max-width: 1320px) {
  .result p {
    font-size: 21px;
  }
}

@media (max-width: 1140px) {
  .result-category-title, .result h2 {
    font-size: 41px;
    line-height: 50px;
  }

  .result p {
    font-size: 18px;
    line-height: 25px;
  }

  .result-cart {
    max-width: 370px;
  }
}

@media (max-width: 850px) {
  .result-container {
    flex-direction: column;
  }

  .result-category {
    padding-bottom: 30px;
  }

  .result-cart {
    max-width: 100%;
  }
}

@media (max-width: 510px) {
  .result-container {
    padding: 80px 15px 0px;
  }

  .result-category-title, .result h2 {
    font-size: 38px;
  }

  .result-cart {
    max-width: 100%;
    height: 400px;
    overflow-y: scroll;
  }

  .result__item-content li {
    font-size: 14px;
  }

  .result__item-title {
    font-size: 24px;
    line-height: 30px;
  }

  .button {
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 14px;
  }
}
